[user]
	name = wenhaocold
	email = wenhaocold@163.com
[https]
	sslVerify = false
[http]
	sslVerify = false
[init]
	defaultBranch = main
[alias]
	st = status 
	lg = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
